{{#if showWidget}}
<head>
    <script type="module">
import RefreshRuntime from "/@react-refresh"
RefreshRuntime.injectIntoGlobalHook(window)
window.$RefreshReg$ = () => {}
window.$RefreshSig$ = () => (type) => type
window.__vite_plugin_react_preamble_installed__ = true
</script>

    <script type="module" src="/@vite/client"></script>

    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  <script src="https://sse-0.codesandbox.io/client-hook-6.js"></script><style type="text/css" data-vite-dev-id="/sandbox/src/App.module.css">._root_5lp9e_1 {
  height: 100%;
  font-family: sans-serif;
  background-color: __backgroundColor__;
  flex-basis: 100%;
  overflow-y: auto;
  /* __center__ */
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/_resets.module.css">:where(._storybrainResets_48zhe_1),
:where(._storybrainResets_48zhe_1) * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:where(._storybrainResets_48zhe_1),
:where(._storybrainResets_48zhe_1) :not(span, a, ul, ol, li, p) {
  display: flex;
}

:where(._storybrainResets_48zhe_1) ul,
:where(._storybrainResets_48zhe_1) ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

:where(._storybrainResets_48zhe_1) p:empty::before {
  content: '';
  display: inline-block;
}

:where(._storybrainResets_48zhe_1) img {
  object-fit: contain;
}

:where(._storybrainResets_48zhe_1) svg {
  overflow: visible;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/RemixIconsFillSystemAddFill/RemixIconsFillSystemAddFill.module.css">._root_1c7ph_1 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
._group_1c7ph_8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
._icon_1c7ph_16 {
  width: 100%;
  height: 100%;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/Button_TypePrimaryStateDefault/Button_TypePrimaryStateDefault.module.css">._remixIconsFillSystemAddFill_1cn5b_1._remixIconsFillSystemAddFill_1cn5b_1 {
  width: 22px;
  height: 22px;
}
._group_1cn5b_5._group_1cn5b_5 {
  width: 22px;
  height: 22px;
}
._group_1cn5b_5 {
  width: 22px;
  height: 22px;
}
._icon_1cn5b_13 {
  width: 100%;
  height: 100%;
}
._remixIconsFillSystemAddFill2_1cn5b_17._remixIconsFillSystemAddFill2_1cn5b_17 {
  width: 22px;
  height: 22px;
}
._group2_1cn5b_21._group2_1cn5b_21 {
  width: 22px;
  height: 22px;
}
._group2_1cn5b_21 {
  width: 22px;
  height: 22px;
}
._icon2_1cn5b_29 {
  width: 100%;
  height: 100%;
}
._root_1cn5b_33 {
  width: min-content;
  height: min-content;
}
._mDInnerContainer_1cn5b_37 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  place-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 12px;
  border-radius: 6px;
  background-color: #269aff;
}
._mDIconContainer_1cn5b_48 {
  width: min-content;
  height: min-content;
  padding: 2px 0;
}
._button_1cn5b_53 {
  color: #f8f9fa;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.002em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._mDIconContainer2_1cn5b_66 {
  width: min-content;
  height: min-content;
  padding: 2px 0;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/Header_StateMain.module.css">._logoElementLogoIpsum_13m0a_1._logoElementLogoIpsum_13m0a_1 {
  width: 58px;
  height: 28px;
}
._icon_13m0a_5 {
  width: 100%;
  height: 100%;
}
._button2_13m0a_9._button2_13m0a_9 {
  width: 130px;
}
._mDInnerContainer_13m0a_12._mDInnerContainer_13m0a_12 {
  width: initial;
  flex: 1;
}
._button_13m0a_9 {
  color: #f8f9fa;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.002em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._icon2_13m0a_29 {
  width: 100%;
  height: 100%;
}
._icon3_13m0a_33 {
  width: 100%;
  height: 100%;
}
._root_13m0a_37 {
  width: 1512px;
  height: min-content;
  align-items: center;
  gap: 252px;
  padding: 12px 92px;
}
._group167_13m0a_44 {
  position: relative;
  width: 744px;
  height: 47px;
}
._rectangle1863_13m0a_49 {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 744px;
  height: 47px;
  background-color: #d9d9d9;
}
._left_13m0a_60 {
  position: absolute;
  left: 0;
  right: 4.4355%;
  top: 20.2128%;
  bottom: 20.2128%;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 42px;
}
._menu_13m0a_72 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 30px;
}
._memberships_13m0a_78 {
  color: #5c5f66;
  font-size: 18px;
  line-height: 145%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._community_13m0a_89 {
  color: #5c5f66;
  font-size: 18px;
  line-height: 145%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._shop_13m0a_100 {
  color: #5c5f66;
  font-size: 18px;
  line-height: 145%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._livestream_13m0a_111 {
  color: #5c5f66;
  font-size: 18px;
  line-height: 145%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._events_13m0a_122 {
  color: #5c5f66;
  font-size: 18px;
  line-height: 145%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._about_13m0a_133 {
  color: #5c5f66;
  font-size: 18px;
  line-height: 145%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._buttons_13m0a_144 {
  width: 398px;
  height: min-content;
  place-content: flex-end;
  align-items: center;
  gap: 24px;
}
._icon4_13m0a_151 {
  width: min-content;
  height: min-content;
  place-content: flex-end;
  align-items: center;
  gap: 53px;
}
._lGIconContainer_13m0a_158 {
  width: min-content;
  height: min-content;
  padding: 3px 0;
}
._lGIconContainer2_13m0a_163 {
  width: min-content;
  height: min-content;
  padding: 3px 0;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/LogoElementLogoIpsum/LogoElementLogoIpsum.module.css">._root_170yq_1 {
  position: relative;
  width: 101px;
  height: 49px;
  align-items: flex-start;
  overflow: hidden;
}
._vector_170yq_8 {
  position: absolute;
  left: 0;
  right: 0.802%;
  top: 1.0204%;
  bottom: 1.7261%;
  overflow: visible;
}
._icon_170yq_16 {
  width: 100%;
  height: 100%;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/RemixIconsLineMediaNotificatio/RemixIconsLineMediaNotificatio.module.css">._root_1c7ph_1 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
._group_1c7ph_8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
._icon_1c7ph_16 {
  width: 100%;
  height: 100%;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/RemixIconsLineUserUser3Line/RemixIconsLineUserUser3Line.module.css">._root_1c7ph_1 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
._group_1c7ph_8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
._icon_1c7ph_16 {
  width: 100%;
  height: 100%;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/Header_StateMain/Shop/Shop.module.css">._root_1yi7w_1 {
  width: min-content;
  height: min-content;
  padding: 3px 0;
}
._remixIconsLineFinanceShoppingC_1yi7w_6 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
._group_1yi7w_12 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
._icon_1yi7w_20 {
  width: 100%;
  height: 100%;
}
._ellipse1_1yi7w_24 {
  position: absolute;
  left: 66.6667%;
  right: -16.6667%;
  top: -8.3333%;
  bottom: 58.3333%;
  overflow: visible;
}
._icon2_1yi7w_32 {
  width: 100%;
  height: 100%;
}
.__1_1yi7w_36 {
  color: #fff;
  font-size: 8px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  left: 83.3333%;
  right: 0;
  top: -8.3333%;
  bottom: 58.3333%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/components/RemixIconsFillUserUser3Fill/RemixIconsFillUserUser3Fill.module.css">._root_1c7ph_1 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
._group_1c7ph_8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
._icon_1c7ph_16 {
  width: 100%;
  height: 100%;
}
</style><style type="text/css" data-vite-dev-id="/sandbox/src/resets.css">html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
}

#root {
  position: relative;
}

body button:not(:disabled) {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

body label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
</style><style type="text/css">
@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: circular;

  src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: circular;

  src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2') format('woff2');
}</style></head>
<div class="_storybrainResets_48zhe_1 _root_13m0a_37"><div class=" _group167_13m0a_44"><div class="_rectangle1863_13m0a_49"></div><div class="_left_13m0a_60"><div class="_storybrainResets_48zhe_1  _logoElementLogoIpsum_13m0a_1 _root_170yq_1"><div class="_vector_170yq_8"><svg preserveAspectRatio="none" viewBox="0 0 58 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="_icon_13m0a_5"><path d="M0 16.6343H1.72277V25.04H0V16.6343Z" fill="black"></path><path d="M2.72169 22.16C2.72056 21.5562 2.89944 20.9657 3.2357 20.4632C3.57197 19.9606 4.0505 19.5686 4.61073 19.3368C5.17096 19.105 5.78772 19.0437 6.38295 19.1608C6.97818 19.2779 7.52512 19.5681 7.95456 19.9946C8.38399 20.4211 8.67662 20.9648 8.79541 21.5569C8.9142 22.149 8.85381 22.7628 8.62188 23.3207C8.38995 23.8786 7.99691 24.3555 7.4925 24.6911C6.98808 25.0266 6.39497 25.2057 5.78823 25.2057C5.38473 25.2103 4.98437 25.1347 4.61062 24.9833C4.23687 24.832 3.89724 24.6079 3.61164 24.3242C3.32604 24.0406 3.10021 23.703 2.9474 23.3314C2.79458 22.9598 2.71784 22.5615 2.72169 22.16ZM7.1205 22.16C7.11373 21.8994 7.02987 21.6465 6.87942 21.4331C6.72897 21.2196 6.5186 21.055 6.27464 20.9599C6.03068 20.8648 5.76396 20.8434 5.50783 20.8984C5.25171 20.9533 5.01755 21.0822 4.83466 21.2689C4.65177 21.4556 4.52826 21.6918 4.47959 21.948C4.43091 22.2042 4.45923 22.469 4.561 22.7092C4.66277 22.9495 4.83348 23.1545 5.05176 23.2987C5.27004 23.443 5.52621 23.5199 5.78823 23.52C5.96749 23.525 6.14586 23.493 6.31206 23.4259C6.47826 23.3589 6.6287 23.2583 6.75388 23.1305C6.87906 23.0027 6.97627 22.8505 7.03937 22.6835C7.10247 22.5164 7.1301 22.3382 7.1205 22.16Z" fill="black"></path><path d="M15.7804 19.28V24.7543C15.7804 26.6914 14.2587 27.5086 12.7196 27.5086C12.1785 27.5486 11.6366 27.4397 11.1535 27.1938C10.6703 26.9479 10.2645 26.5744 9.98044 26.1143L11.462 25.2629C11.5796 25.4987 11.7656 25.6939 11.996 25.8233C12.2264 25.9527 12.4905 26.0103 12.7541 25.9886C12.9276 26.0173 13.1054 26.0061 13.2738 25.9557C13.4423 25.9052 13.5968 25.817 13.7255 25.6977C13.8543 25.5785 13.9537 25.4314 14.0163 25.2678C14.0789 25.1042 14.1028 24.9285 14.0864 24.7543V24.2229C13.8838 24.4708 13.6254 24.6678 13.3321 24.7979C13.0388 24.9279 12.7188 24.9874 12.3981 24.9714C11.6183 24.9714 10.8704 24.6632 10.319 24.1145C9.76763 23.5658 9.45786 22.8217 9.45786 22.0457C9.45786 21.2698 9.76763 20.5256 10.319 19.9769C10.8704 19.4282 11.6183 19.12 12.3981 19.12C12.7186 19.1054 13.0381 19.1655 13.3313 19.2955C13.6244 19.4254 13.8829 19.6217 14.0864 19.8686V19.2971L15.7804 19.28ZM14.0864 22.0457C14.0978 21.7678 14.0255 21.4928 13.8787 21.2562C13.7318 21.0195 13.5172 20.8319 13.2624 20.7176C13.0076 20.6032 12.7242 20.5673 12.4487 20.6145C12.1733 20.6617 11.9183 20.7897 11.7165 20.9823C11.5148 21.1748 11.3755 21.423 11.3166 21.6949C11.2577 21.9668 11.2819 22.25 11.3861 22.5081C11.4902 22.7662 11.6696 22.9874 11.9011 23.1433C12.1326 23.2992 12.4057 23.3826 12.6852 23.3829C12.8676 23.3957 13.0508 23.3704 13.2228 23.3085C13.3948 23.2466 13.5519 23.1496 13.6839 23.0236C13.8159 22.8976 13.9199 22.7455 13.9892 22.5771C14.0586 22.4087 14.0916 22.2276 14.0864 22.0457Z" fill="black"></path><path d="M16.7742 22.16C16.773 21.5562 16.9519 20.9657 17.2882 20.4632C17.6244 19.9606 18.103 19.5686 18.6632 19.3368C19.2235 19.105 19.8402 19.0437 20.4354 19.1608C21.0307 19.2779 21.5776 19.5681 22.007 19.9946C22.4365 20.4211 22.7291 20.9648 22.8479 21.5569C22.9667 22.149 22.9063 22.7628 22.6744 23.3207C22.4424 23.8786 22.0494 24.3555 21.545 24.6911C21.0406 25.0266 20.4475 25.2057 19.8407 25.2057C19.4372 25.2103 19.0369 25.1347 18.6631 24.9833C18.2894 24.832 17.9497 24.6079 17.6641 24.3242C17.3785 24.0406 17.1527 23.703 16.9999 23.3314C16.8471 22.9598 16.7703 22.5615 16.7742 22.16ZM21.173 22.16C21.1662 21.8994 21.0824 21.6465 20.9319 21.4331C20.7815 21.2196 20.5711 21.055 20.3271 20.9599C20.0832 20.8648 19.8164 20.8434 19.5603 20.8984C19.3042 20.9533 19.07 21.0822 18.8871 21.2689C18.7043 21.4556 18.5807 21.6918 18.5321 21.948C18.4834 22.2042 18.5117 22.469 18.6135 22.7092C18.7153 22.9495 18.886 23.1545 19.1042 23.2987C19.3225 23.443 19.5787 23.5199 19.8407 23.52C20.019 23.5234 20.1961 23.4902 20.361 23.4224C20.5258 23.3547 20.6748 23.2539 20.7988 23.1262C20.9227 22.9986 21.0189 22.847 21.0813 22.6807C21.1437 22.5145 21.171 22.3372 21.1615 22.16H21.173Z" fill="black"></path><path d="M23.7055 17.7371C23.7055 17.5315 23.7668 17.3304 23.8816 17.1593C23.9965 16.9883 24.1597 16.855 24.3507 16.7763C24.5417 16.6976 24.7518 16.677 24.9546 16.7171C25.1573 16.7573 25.3435 16.8563 25.4897 17.0018C25.6359 17.1472 25.7354 17.3325 25.7757 17.5342C25.816 17.736 25.7954 17.9451 25.7162 18.1351C25.6371 18.3252 25.5032 18.4876 25.3313 18.6019C25.1594 18.7161 24.9574 18.7771 24.7507 18.7771C24.4739 18.7756 24.209 18.6656 24.0133 18.4709C23.8176 18.2762 23.707 18.0125 23.7055 17.7371ZM23.8835 19.28H25.6063V25.04H23.8835V19.28Z" fill="black"></path><path d="M33.1176 22.16C33.1385 22.5407 33.0835 22.9218 32.9558 23.2814C32.8281 23.6409 32.6301 23.9717 32.3734 24.2548C32.1167 24.5378 31.8062 24.7676 31.4599 24.9308C31.1136 25.094 30.7382 25.1874 30.3554 25.2057C30.0341 25.2211 29.7133 25.1661 29.4156 25.0446C29.118 24.9232 28.8507 24.7383 28.6327 24.5029V27.36H26.9099V19.28H28.6327V19.8229C28.8507 19.5875 29.118 19.4025 29.4156 19.2811C29.7133 19.1596 30.0341 19.1046 30.3554 19.12C30.7377 19.1383 31.1126 19.2315 31.4585 19.3944C31.8044 19.5572 32.1146 19.7865 32.3713 20.0689C32.6279 20.3514 32.826 20.6815 32.9541 21.0404C33.0822 21.3992 33.1377 21.7797 33.1176 22.16ZM31.3949 22.16C31.388 21.8918 31.3023 21.6315 31.1483 21.4113C30.9943 21.1911 30.7787 21.0207 30.5283 20.9211C30.278 20.8216 30.0037 20.7974 29.7396 20.8514C29.4756 20.9054 29.2332 21.0353 29.0425 21.225C28.8519 21.4147 28.7213 21.6559 28.6671 21.9187C28.6128 22.1815 28.6372 22.4543 28.7372 22.7035C28.8372 22.9526 29.0085 23.1671 29.2298 23.3204C29.451 23.4736 29.7127 23.5589 29.9822 23.5657C30.1703 23.5776 30.3588 23.5493 30.535 23.4827C30.7111 23.4161 30.871 23.3128 31.0037 23.1796C31.1364 23.0465 31.239 22.8866 31.3045 22.7107C31.37 22.5348 31.3969 22.3471 31.3834 22.16H31.3949Z" fill="black"></path><path d="M38.4807 23.3143C38.4807 24.64 37.3322 25.2057 36.0688 25.2057C35.5641 25.2502 35.0576 25.1433 34.6145 24.8989C34.1714 24.6545 33.8119 24.2837 33.5823 23.8343L35.0868 22.9829C35.1479 23.1907 35.2786 23.3715 35.4573 23.4952C35.6359 23.6189 35.8517 23.6781 36.0688 23.6629C36.488 23.6629 36.6948 23.5314 36.6948 23.3029C36.6948 22.6686 33.8235 23.0057 33.8235 21.0171C33.8235 19.76 34.8916 19.1257 36.1205 19.1257C36.574 19.112 37.0229 19.2192 37.4207 19.4362C37.8185 19.6533 38.1508 19.9722 38.3831 20.36L36.8728 21.1486C36.8061 20.9977 36.6967 20.8693 36.5581 20.779C36.4195 20.6887 36.2575 20.6404 36.0918 20.64C35.7932 20.64 35.6094 20.7543 35.6094 20.9657C35.6324 21.6229 38.4807 21.1829 38.4807 23.3143Z" fill="black"></path><path d="M44.821 19.28V25.04H43.0982V24.5029C42.8978 24.7415 42.6435 24.9296 42.3561 25.0518C42.0686 25.1739 41.7562 25.2267 41.4444 25.2057C40.2959 25.2057 39.2794 24.3771 39.2794 22.8171V19.28H41.0022V22.5657C40.9871 22.7057 41.0034 22.8474 41.0501 22.9803C41.0968 23.1132 41.1727 23.2342 41.2722 23.3343C41.3718 23.4344 41.4924 23.5112 41.6255 23.5592C41.7586 23.6071 41.9007 23.625 42.0416 23.6114C42.6733 23.6114 43.1155 23.2457 43.1155 22.4286V19.28H44.821Z" fill="black"></path><path d="M54.7783 21.5086V25.04H53.0556V21.6571C53.0556 21.0857 52.7742 20.7086 52.2229 20.7086C51.6716 20.7086 51.3156 21.1143 51.3156 21.7943V25.04H49.5928V21.6571C49.5928 21.0857 49.3171 20.7086 48.7601 20.7086C48.2031 20.7086 47.8585 21.1143 47.8585 21.7943V25.04H46.1358V19.28H47.8585V19.8114C48.0386 19.5767 48.2747 19.3905 48.5455 19.2698C48.8163 19.149 49.1131 19.0975 49.409 19.12C49.7062 19.1057 50.002 19.1681 50.2676 19.3013C50.5333 19.4345 50.7598 19.6339 50.9251 19.88C51.1172 19.6226 51.3719 19.4179 51.6651 19.285C51.9583 19.1521 52.2806 19.0954 52.6019 19.12C53.9112 19.12 54.7783 20.0686 54.7783 21.5086Z" fill="black"></path><path d="M56.2485 19.2457C56.9589 19.2457 57.5348 18.6726 57.5348 17.9657C57.5348 17.2588 56.9589 16.6857 56.2485 16.6857C55.5381 16.6857 54.9622 17.2588 54.9622 17.9657C54.9622 18.6726 55.5381 19.2457 56.2485 19.2457Z" fill="black"></path><path d="M19.496 12.2743C22.823 12.2743 25.52 9.59055 25.52 6.28C25.52 2.96945 22.823 0.285714 19.496 0.285714C16.1691 0.285714 13.4721 2.96945 13.4721 6.28C13.4721 9.59055 16.1691 12.2743 19.496 12.2743Z" fill="black"></path><path d="M32.9625 12.2743C36.2894 12.2743 38.9864 9.59055 38.9864 6.28C38.9864 2.96945 36.2894 0.285714 32.9625 0.285714C29.6355 0.285714 26.9385 2.96945 26.9385 6.28C26.9385 9.59055 29.6355 12.2743 32.9625 12.2743Z" fill="black"></path><path d="M12.0534 0.285714H0.011216V12.2686H12.0534V0.285714Z" fill="black"></path></svg></div></div><div class="_menu_13m0a_72"><div class="_memberships_13m0a_78">Memberships</div><div class="_community_13m0a_89">Community</div><div class="_shop_13m0a_100">Shop</div><div class="_livestream_13m0a_111">Livestream</div><div class="_events_13m0a_122">Events</div><div class="_about_13m0a_133">About</div></div></div></div><div class="_buttons_13m0a_144"><div class="_icon4_13m0a_151"><div class="_lGIconContainer_13m0a_158"><div class="_storybrainResets_48zhe_1 _root_1c7ph_1"><div class="_group_1c7ph_8"><svg preserveAspectRatio="none" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="_icon2_13m0a_29"><path d="M20 17H22V19H2V17H4V10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10V17ZM18 17V10C18 8.4087 17.3679 6.88258 16.2426 5.75736C15.1174 4.63214 13.5913 4 12 4C10.4087 4 8.88258 4.63214 7.75736 5.75736C6.63214 6.88258 6 8.4087 6 10V17H18ZM9 21H15V23H9V21Z" fill="#343A40"></path></svg></div></div></div><div class="_lGIconContainer2_13m0a_163"><div class="_storybrainResets_48zhe_1 _root_1c7ph_1"><div class="_group_1c7ph_8"><svg preserveAspectRatio="none" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 22H4V20C4 18.6739 4.52678 17.4021 5.46447 16.4645C6.40215 15.5268 7.67392 15 9 15H15C16.3261 15 17.5979 15.5268 18.5355 16.4645C19.4732 17.4021 20 18.6739 20 20V22ZM12 13C11.2121 13 10.4319 12.8448 9.7039 12.5433C8.97595 12.2417 8.31451 11.7998 7.75736 11.2426C7.20021 10.6855 6.75825 10.0241 6.45672 9.2961C6.15519 8.56815 6 7.78793 6 7C6 6.21207 6.15519 5.43185 6.45672 4.7039C6.75825 3.97595 7.20021 3.31451 7.75736 2.75736C8.31451 2.20021 8.97595 1.75825 9.7039 1.45672C10.4319 1.15519 11.2121 1 12 1C13.5913 1 15.1174 1.63214 16.2426 2.75736C17.3679 3.88258 18 5.4087 18 7C18 8.5913 17.3679 10.1174 16.2426 11.2426C15.1174 12.3679 13.5913 13 12 13V13Z" fill="#25262B"></path></svg></div></div></div><div class="_storybrainResets_48zhe_1 _root_1yi7w_1"><div class="_remixIconsLineFinanceShoppingC_1yi7w_6"><div class="_group_1yi7w_12"><svg preserveAspectRatio="none" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="_icon_1yi7w_20"><path d="M4 16V4H2V2H5C5.26522 2 5.51957 2.10536 5.70711 2.29289C5.89464 2.48043 6 2.73478 6 3V15H18.438L20.438 7H8V5H21.72C21.872 5 22.022 5.03466 22.1586 5.10134C22.2952 5.16801 22.4148 5.26495 22.5083 5.38479C22.6019 5.50462 22.6668 5.6442 22.6983 5.79291C22.7298 5.94162 22.7269 6.09555 22.69 6.243L20.19 16.243C20.1358 16.4592 20.011 16.6512 19.8352 16.7883C19.6595 16.9255 19.4429 17 19.22 17H5C4.73478 17 4.48043 16.8946 4.29289 16.7071C4.10536 16.5196 4 16.2652 4 16V16ZM6 23C5.46957 23 4.96086 22.7893 4.58579 22.4142C4.21071 22.0391 4 21.5304 4 21C4 20.4696 4.21071 19.9609 4.58579 19.5858C4.96086 19.2107 5.46957 19 6 19C6.53043 19 7.03914 19.2107 7.41421 19.5858C7.78929 19.9609 8 20.4696 8 21C8 21.5304 7.78929 22.0391 7.41421 22.4142C7.03914 22.7893 6.53043 23 6 23ZM18 23C17.4696 23 16.9609 22.7893 16.5858 22.4142C16.2107 22.0391 16 21.5304 16 21C16 20.4696 16.2107 19.9609 16.5858 19.5858C16.9609 19.2107 17.4696 19 18 19C18.5304 19 19.0391 19.2107 19.4142 19.5858C19.7893 19.9609 20 20.4696 20 21C20 21.5304 19.7893 22.0391 19.4142 22.4142C19.0391 22.7893 18.5304 23 18 23Z" fill="#25262B"></path></svg></div><div class="_ellipse1_1yi7w_24"><svg preserveAspectRatio="none" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="_icon2_1yi7w_32"><circle cx="6" cy="6" r="6" fill="#CC4216"></circle></svg></div><div class="__1_1yi7w_36">1</div></div></div></div></div></div>
{{/if}}